html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #303030;
  font-size: 18px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  max-width: 960px;
}

header figure {
  margin: 0;
}

header nav a:link,
header nav a:visited {
  color: white;
  font-size: 0.7em;
  text-decoration: none;
  letter-spacing: 0.1em;
}

header nav ul {
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav li {
  margin: 0 0.3em 1em;
  padding: 0.2em;
}

header nav li.active {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

header nav .whitepaper {
  font-weight: bold;
  padding: 0 16px;
  line-height: 32px;
  border-radius: 16px;
  background-color: white;
  font-variant: small-caps;
  text-transform: lowercase;
}

header nav .whitepaper a {
  color: #008bca;
}

@media (max-width: 640px) {
  header nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body > header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em;
  max-width: 960px;
  border-bottom: 2px solid #efefef;
  margin: auto;
}

body > header nav a:link,
body > header nav a:visited {
  color: #303030;
}

body > header nav .whitepaper {
  background-color: #008bca;
}

body > header nav .whitepaper a:link,
body > header nav .whitepaper a:visited {
  color: white;
}

body > header nav li.active {
  border-bottom: 2px solid rgba(0, 139, 202, 0.5);
}

.hero {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  text-align: center;
  color: white;
  -webkit-clip-path: ellipse(150% 50% at 50% 47%);
          clip-path: ellipse(150% 50% at 50% 47%);
  background: url('/images/graph.svg') no-repeat,
    linear-gradient(-45deg, #008bca 0%, #4da6cc 100%);
  background-position: center 160%;
  background-size: 200vh, auto;
  padding: 2em;
}

.hero > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero h1 {
  font-size: 1.5em;
}

.hero p {
  font-size: 1em;
  max-width: 640px;
}

.hero .call-to-action {
  width: 100%;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .call-to-action li {
  border: 2px solid white;
  line-height: 3em;
  padding: 0 1.5em;
  border-radius: 1.5em;
  min-width: 200px;
  margin: 1em;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
}

.hero .call-to-action a {
  text-decoration: none;
}

.hero .call-to-action .ico {
  background-color: white;
}

.hero .call-to-action .ico a:link,
.hero .call-to-action .ico a:visited {
  color: #008bca;
}

.hero .call-to-action .whitepaper a:link,
.hero .call-to-action .whitepaper a:visited {
  color: white;
}

@media (min-width: 32em) {
  .hero h1 {
    font-size: 2.5em;
  }

  .hero p {
    font-size: 1.2em;
  }
}

section {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section + section {
  border-top: 2px solid #e5e5e5;
}

section.whitepaper {
  border-top: none;
}

section h2 {
  font-size: 2em;
}

section figure {
  margin: 0;
}

section img {
  max-width: 100%;
}

section.intro-video {
  text-align: center;
  min-height: 100vh;
}

section.intro-video h2,
section.intro-video p {
  max-width: 640px;
  margin-bottom: 0px;
}

section.intro-video p {
  line-height: 1.5em;
}

section.intro-video iframe {
  margin-top: 2em;
  max-width: 100%;
}

section.info {
  min-height: 55vh;
  padding: 2em;
}

section.info .content {
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.info .content p {
  line-height: 1.5em;
}

section.info label {
  font-weight: 700;
  color: #008bca;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 2px;
  line-height: 2em;
}

section.info h2 {
  margin: 0;
  line-height: 1em;
}

section aside {
  min-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section.info img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2em;
  -o-object-fit: contain;
     object-fit: contain;
}

section.whitepaper {
  color: white;
  background: linear-gradient(-45deg, #008bca 0%, #4da6cc 100%);
}

section.whitepaper .content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.whitepaper h2 {
  margin-top: 0;
}

section.whitepaper form {
  margin: 2em;
}

section.whitepaper form label {
  color: white;
}

section.whitepaper form button[type='submit'] {
  color: #008bca;
  background-color: white;
}

section.question {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 640px;
  margin: auto;
}

section.question h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}

section.question abbr {
  text-decoration: none;
  color: #008bca;
}

section.contact .content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.contact aside:first-child p {
  margin-top: 0;
}

section.contact aside {
  margin: 0 1em;
}

section.contact iframe {
  width: 100%;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  max-width: 960px;
  padding: 1em;
}

main h1 {
  margin: 1.5em 0;
}

main h1:after {
  width: 10px;
  background: #008bca;
  height: 4px;
  width: 2em;
  content: '';
  display: block;
  position: relative;
  bottom: -0.5em;
}

form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form p {
  margin: 1em 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

form label {
  display: block;
  color: #008bca;
}

form input,
form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
  border: none;
  padding: 0.5em;
  min-width: 8em;
  width: 100%;
  border: 2px solid #008bca;
}

button[type='submit'] {
  font-family: Raleway, sans-serif;
  color: white;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1em;
  padding: 0 1em;
  background-color: #008bca;
  border: none;
  border-radius: 1em;
  height: 2em;
  min-width: 8em;
}

footer {
  background-color: #efefef;
  font-size: 0.8em;
  padding: 2em;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 960px;
  margin: auto;
}

footer figure {
  margin: 0;
}

footer .content > div,
footer nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer nav ul {
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav ul li {
  margin: 0.5em;
}

footer nav .social a:link,
footer nav .social a:visited {
  color: #008bca;
  font-size: 2em;
}

footer nav a:link,
footer nav a:visited {
  font-variant: small-caps;
  text-transform: lowercase;
  color: #7a7a7a;
  text-decoration: none;
  letter-spacing: 0.1em;
}

@media (max-width: 640px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  footer .content > div {
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  footer nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2em;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .dialog {
  background-color: white;
  border-radius: 4px;
  padding: 1em;
  text-align: center;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}
